*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    height: 100px;
    width: 100%;
    background-color: rgb(37,32,32);
    display: flex;
    padding: 15px;
    position: fixed;
    z-index: 99;
}

main{
    min-height: 100vh;
    padding-top: 130px;
    background-color: rgb(65, 65, 65);
}

.category{
    font-size: 30px;
    text-align: center;
}

.logo-img img{
    height: 70px;
    display: inline;
}

.grow{
    flex-grow: 1
    ;
}

.search-film{
    margin-right: 50px;
    align-items: center;
    display: flex;
}

.search-film button{
    color: black;
    padding: 0 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.search-film button:hover{
    transform: scale(1.3);
}

input{
    color: black;
}

.flag{
    height: 20px;
    right: 33%;
}
.film-card{
    display: inline-block;
    /* justify-content: center;
    align-items: center; */
    width: calc((100% / 4) - 60px);
    overflow: hidden;
    box-shadow: 0px 0px 15px black;
    margin: 20px;
    vertical-align: top;
}

.poster-container{
    position: relative;
}

.poster-container img{
    /* object-fit: cover; */
    width: 100%;

}

.hover-info{
    background-color: rgba(0, 0, 0, 0.801);
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
}

.poster-container:hover .hover-info{
    display: block;
}

.info{
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.fa-star{
    color: yellow;
    margin-left: 2px;
    margin-right: 2px;
}